{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-5">
           
            <div class="col-10 d-flex justify-content-left">
                <h3 style="text-align:center; color:blue">Home</h3>
            </div>
            
        </div>
        <div class="row mt-4">
            <div class="col-1"></div>
            <div class="col-10 d-flex flex-column">
                {% for folder in folders %}
                    <a href="{% url 'folder' folder=folder.id %}" class="lead text-muted">{{folder.title }}</a>
                {% endfor %}
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}
